body {
  background-color: #e8f3f8;
  border-style: pink solid;
  position: static;
  background-color:#e8f3f8;
  text-align: center;
}
h1 {
  font-family: serif;
  font-size: 51px;
  color: steelblue;
  text-align: center;
  font-weight: 400;
  background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&h=350");
}

form {
   color: steelblue;
   width: 350px;
   margin: 20px;
   text-align: center;
}
input {
       padding: 12px;
       font-size: inherit;
       background-position:
       font-family :serif;
       border-radius: 50px
}
input type="submit" {
  color: #521751;
  padding: 20 30;
  background-color: #34495e;
  font-size: 20;
  border-radius: 5px;
  border: none;
  font-family: 'monteserrat' sans-serif;

}
input[type="submit"] {
  padding: 20 30;
}
p {
  color: white;
  font-style: oblique;
  font-size: 20px;
  font-weight: bolder;
}
.container {
  font-family: monospace;
  backface-visibility: visible;
  background-image: url("https://images.pexels.com/photos/963063/pexels-photo-963063.jpeg?auto=compress&cs=tinysrgb&h=350");
}
button {
  font-size: 20px;
  font-weight: bold;
  font-family: fantasy;
  text-align: justify;
  vertical-align: baseline;
  text-align: center;
}
.rebesha{
  /* background-image: url("https://giphy.com/gifs/ape-JyyUwsNClJDoI"); */
  background-color: blue;
  margin-left: 300px;
  margin-right: 300px;
  padding: 20px;
}
